<section class="w-1/4">
  <app-select
    [data]="categories"
    title="Categories"
    (SelectedValue)="filterCategory($event)"
  ></app-select>
</section>
<section
  class="grid grid-cols-1 xl:grid-cols-3 md:grid-cols-2"
  *ngIf="!loading"
>
  <section
    *ngFor="let data of products"
    class="w-[23rem] p-4 mt-4 rounded-lg border shadow-lg shadow-blue-400 transition-all duration-700 gap-4"
  >
    <app-product [data]="data" (prodect)="addProdect($event)"></app-product>
  </section>
</section>

<!-- <div
  class="p-4 my-4 w-full h-20 text-lg text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
  role="alert"
  *ngIf="showAlert"
>
  <span class="font-medium">Error : </span> Change a few things up and try
  submitting again.
</div> -->
<div class="text-center w-full" *ngIf="loading">
  <app-spinner></app-spinner>
</div>
